$fondofill: #ccc;
$bordenada: #C0C0C0;
$bordehover: black;
$bordeenfocado: #78289C;
$bordeBS: #C0C0C0;

.custom-select {
  position: relative;
  width: 100%; /* Usa el ancho del contenedor */
  max-width: 100%;
    &.estilorecuadro {
        border: 2px solid $bordenada;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: white;
    }
    &.estiloBS {
        border: 1px solid $bordeBS;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: white;
    }
    &.estilorecuadro_izquierdo {
        border-top: 2px solid $bordenada;
        border-bottom: 2px solid $bordenada;
        border-left: 2px solid $bordenada;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: white;
    }
    &.estilorecuadro_derecho {
        border-top: 2px solid $bordenada;
        border-bottom: 2px solid $bordenada;
        border-right: 2px solid $bordenada;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: white;
    }
    &.estilorecuadro_centro {
        border-top: 2px solid $bordenada;
        border-bottom: 2px solid $bordenada;
        background-color: white;
    }
    &.estilonormal {
        padding-left: 2px;
        border-bottom: 2px solid $bordenada;
    }
    &.estilofill {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 2px solid $bordenada;
        background-color: $fondofill;
    }
    &.enfocado {
        &.estilorecuadro {
            border: 2px solid $bordeenfocado;
        }
        &.estiloBS {
            border: 1px solid $bordeBS;
        }
        &.estilorecuadro_izquierdo {
            border-top: 2px solid $bordeenfocado;
            border-bottom: 2px solid $bordeenfocado;
            border-left: 2px solid $bordeenfocado;
        }
        &.estilorecuadro_centro {
            border-top: 2px solid $bordeenfocado;
            border-bottom: 2px solid $bordeenfocado;
        }
        &.estilorecuadro_derecho {
            border-top: 2px solid $bordeenfocado;
            border-bottom: 2px solid $bordeenfocado;
            border-right: 2px solid $bordeenfocado;
        }
        &.estilonormal,
        &.estilofill {
            border-bottom: 2px solid $bordeenfocado;
        }
    }
}

.selected-option {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.option-image {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
}

.option-item {
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.option-item:hover {
  background-color: #f0f0f0;
}

