.con_recuadro {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-right: 3px;

    height: 36px;
    border: 1px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color:dimgrey;
}