.login-box {
    border-radius: 16px;
    z-index: 1001;
    width: 320px;
    background: rgb(83, 76, 76);
    color: #fff;
    top: 45%;
    left: 50%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    padding-top: 70px;
    .milogo {
        width: 100px;
        height: 100px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
        background-color: white;
        border: 1px solid rgb(83, 76, 76);
    }
    .forzar_mail {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
    }
    h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 30px;
    }
    label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }
    input {
        width: 100%;
        margin-bottom: 3px;
    }
    input[type="text"],
    input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }
    input[type="submit"] {
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        outline: none;
        height: 40px;
        background: #b80f22;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }
    input[type="submit"]:hover {
        cursor: pointer;
        background: #ffc107;
        color: #000;
    }
    span {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: darkgrey;
        &.version {
            line-height: 20px;
            font-size: 12px;
            color: white;
            float: right;
        }
    }
    span:hover {
        color: slateblue;
        &.version {
            color: white;
        }
    }
}

#seccion_olas {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url("/assets/wave.png");
        background-size: 1000px 100px;
    }
    .wave1 {
        animation: animar_wave1 30s linear infinite;
        z-index: 900;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .wave2 {
        animation: animar_wave2 15s linear infinite;
        z-index: 899;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }
    .wave3 {
        animation: animar_wave1 30s linear infinite;
        z-index: 898;
        opacity: .02;
        animation-delay: -2s;
        bottom: 15;
    }
    .wave4 {
        animation: animar_wave2 5s linear infinite;
        z-index: 897;
        opacity: 0.7;
        animation-delay: -5s;
        bottom: 20px;
    }
}

@keyframes animar_wave1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animar_wave2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}