.Esperando {
    position: fixed;
    z-index: 3200;
    top: 0px;
    height: 100vh;
    top: 40px;
    height: -webkit-calc(100vh - 40px);
    height: -moz-calc(100vh - 40px);
    height: calc(100vh - 40px);
    z-index: 1089;
    left: 0px;
    filter: alpha(opacity=65);
    -moz-opacity: 65;
    opacity: 0.65;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 81, 128);
    div {
        position: relative;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        border: 1px solid #262b2e;
        z-index: 3205;
        width: 360px;
        background: white;
        color: black;
        box-sizing: border-box;
        padding: 10px;
        padding-top: 20px;
    }
}
