<div id="principal" [style.height.px]="altoprincipal" style="padding-top:1px" (click)="enfocartext()" [ngClass]="{'alinear_izquierda':AlinearIzquierda,'alinear_derecha':AlinearDerecha}">
    <div id="contenedor" class="escrito enfocado contiene_select" [style.height.px]="alto-1" [style.width]=estilo_ancho [style.max-width]=estilo_ancho_maximo [ngClass]="{'anchototal':ancho===null,'estilonormal':CajaEstilo===0,'estilorecuadro':CajaEstilo===1,'estilorecuadro_izquierdo':CajaEstilo===1.1,'estilorecuadro_centro':CajaEstilo===1.2,'estilorecuadro_derecho':CajaEstilo===1.3,'estilofill':CajaEstilo===2}">
        <div id="etiqueta" *ngIf="titulo.length>0 && mostrar_titulo" [ngClass]="{'estilonormal':CajaEstilo===0,'estilorecuadro':CajaEstilo===1,'estilorecuadro_izquierdo':CajaEstilo===1.1,'estilorecuadro_centro':CajaEstilo===1.2,'estilorecuadro_derecho':CajaEstilo===1.3,'estilofill':CajaEstilo===2}">
            <span>{{titulo}}</span>
        </div>
        <select class="select_comun" #elemento [(ngModel)]="inputModel" (ngModelChange)="cambio()" (blur)="sin_foco()" [disabled]="solo_lectura"><option [ngValue]="item" *ngFor="let item of datos">{{item[campo]}}</option></select>
    </div>
</div>