<div *ngIf="mostrar" [ngClass]="{'tamanio1':Tamanio===1,'tamanio2':Tamanio===2,'tamanio3':Tamanio===3,'tamanio4':Tamanio===4,'derecha':AlinearDerecha,'izquierda':AlinearIzquierda}">
    <img [ngClass]="{'ampliar':Ampliar}" [src]="'assets/'+Imagen" [title]="Titulo" [ngClass]="{'fondo_verde':FondoVerde,'fondo_celeste':FondoCeleste,'fondo_azul':FondoAzul,'fondo_rojo':FondoRojo,'fondo_verdeclaro':FondoVerdeClaro,'fondo_gris_claro':FondoGrisClaro,'fondo_naranja':FondoNaranja,'fondo_blanco':FondoBlanco,'con_recuadro':con_recuadro}">
</div>
