.Alerta {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3202;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        position: relative;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        border: 1px solid #262b2e;
        z-index: 3205;
        width: 360px;
        background: white;
        color: black;
        box-sizing: border-box;
        padding: 10px;
        padding-top: 20px;
        span {
            width: 100%;
            display: block;
            top: 55px;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            color: black;
            background-color: white;
        }
        hr {
            color: #262b2e;
        }
        div {
            position: static;
            width: 100%;
            height: 55px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: 0;
            padding: 2px;
            button {
                margin-left: 5px;
                float: right;
                transition: transform 0.5s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.sombra-azul {
    box-shadow: 5px 10px 18px blue;
}

.sombra-roja {
    box-shadow: 5px 10px 18px red;
}

.sombra-gris {
    box-shadow: 5px 10px 18px #948e8e;
}

.sombra-negra {
    box-shadow: 5px 10px 18px black;
}

.sombra-verde {
    box-shadow: 5px 10px 18px green;
}
